
.about-us {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #FFFFFF; 
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center; 
    margin-top: 200px;

}

.about-us h1 {
    font-size: 2.5rem; 
    margin-bottom: 1.5rem;
    color: #2C2A2A;
}

.about-us p {
    font-size: 1.125rem; 
    margin-bottom: 1.5rem; 
    color: #3C3C3C; 
    line-height: 1.6;
}

@media (max-width: 768px) {
    .about-us {
        padding: 1rem;
    }

    .about-us h1 {
        font-size: 1.75rem; 
    }

    .about-us p {
        font-size: 1rem; 
    }
}
